/* main */

.mainimg{
    width: 100%;
    height: 360px;
    text-align: center;
}

.title{
    padding: 2em 5em;
}

.flex-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.en-vau,.sugiton,.callelongue,.marseilleveyre,.morgiou,.sormiou{
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    transition-property: background-color;
    transition-duration: 1s;
    margin-bottom: 3em;
}

.img1,.img2,.img3,.img4,.img5,.img6 {
    align-self: center;
}

.text1,.text2,.text3,.text4,.text5,.text6{
    justify-content: flex-end;
    padding: 1em;
}

.en-vau:hover,.sugiton:hover,.morgiou:hover,.sormiou:hover,.callelongue:hover,.marseilleveyre:hover{
    background-color: rgb(176, 230, 212);
}

/* fin main */

/* MEDIA QUERIES FOR TABLET VIEW */
@media all and (max-device-width: 820px) {
    .mainimg{
        height: 256px;
    }
}

/* MEDIA QUERIES FOR MOBILE VIEW */
@media all and (max-device-width: 480px) {
    .mainimg{
        display: none;
    }

    .img1,.img2,.img3,.img4,.img5,.img6 {
        align-self: center;
    }

    .en-vau,.sugiton,.callelongue,.marseilleveyre,.morgiou,.sormiou {
        width: 100%;
        flex-direction: column;
    }

    .flex-list {
        gap: 2em;
    }
}
